.theme__switch-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  right: 85px;
  top: 175px;
  @media screen and (max-width: 768px) {
    right: 55px;
  }
}

.theme__switch-wrapper span {
  margin-right: 10px;
  font-size: 1rem;
  @media screen and (max-width: 768px) {
    margin-right: 0;
  }
}

.theme__switch {
  display: inline-block;
  height: 28px;
  position: relative;
  width: 54px;
}

.theme__switch input {
  display: none;
}

.slider {
  background: $body-main-color;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider::before {
  background: $modal-grey-text-color;
  bottom: 4px;
  content: '';
  height: 20px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 20px;
}

input:checked + .slider {
  background: $accent-color;
}

input:checked + .slider::before {
  @media screen and (min-width: 769px) {
    transform: translateX(16px);
  }
}

.slider.round { 
  border-radius: 34px;
  @media screen and (max-width: 768px) {
    width: 28px;
    position: absolute;
  right: 0;
  top: 40px;
  }
}

input:checked +.slider.round::before {
   @media screen and (max-width: 768px) {
    background-color: $accent-color;
   }
  
}

.slider.round::before {
  border-radius: 50%;
}

body.dark__theme {
  background-color: $background-dark-theme;
  color: $light-text-color;
   background-size: 1500px;
   
   #pagination .tui-page-btn {
      color: $body-main-color;
    }

  #pagination .tui-ico-first {
      background-position: -13px 0;
  }
  
  #pagination .tui-is-disabled .tui-ico-first {
      background-position: 0 0;
  }

  #pagination .tui-is-disabled .tui-ico-prev {
      background-position: -26px 0;
  }
  #pagination .tui-ico-prev {
      background-position: -26px -12px;
  }

  #pagination .tui-ico-next {
    background-position: -21px -24px;
  }

  #pagination .tui-is-disabled .tui-ico-next {
  background-position: -13px -24px;
  }

  #pagination .tui-is-disabled .tui-ico-last {
      background-position: 0 -12px;
  }

  #pagination .tui-ico-last {
      background-position: -13px -12px;
  }

  #pagination .tui-page-btn:hover {
      background-color: $accent-color;
    }
}

//    .dark-theme__library{
//    background-image: url(../images/stars-clipart.png);;
//    background-size: 1500px;
// animation: animatedBackground 60s linear infinite;
// -moz-animation: animatedBackground 60s linear infinite;
// -webkit-animation: animatedBackground 60s linear infinite;
//  -o-animation: animatedBackground 60s linear infinite;
//    }

// }

body.dark__theme header,
body.dark__theme footer {
  box-shadow: 0px 1px 58px 12px rgba(255, 85, 0, 0.7),
    1px 2px 4px 0px rgba(255, 85, 0, 0.7), 2px 4px 8px 0px rgba(255, 85, 0, 0.7),
    2px 4px 16px 0px rgba(255, 85, 0, 0.7);
}

/* // BackgroundAnimation */
// @keyframes animatedBackground {
//   0% {
//       background-position: 0 0
//   }
//   100% {
//       background-position: -150px 600px 
//   }
// }

// @-moz-keyframes animatedBackground {
//   0% {
//       background-position: 0 0
//   }
//   100% {
//       background-position: -150px 600px
//   }
// }

// @-webkit-keyframes animatedBackground {
//   0% {
//       background-position: 0 0
//   }
//   100% {
//       background-position: -150px 600px
//   }
// }

// @-o-keyframes animatedBackground {
//   0% {
//       background-position: 0 0
//   }
//   100% {
//       background-position: -150px 600px
//   }
// }

.footer__dark-theme {height: 100px;
  padding-top: 28px;

  @include tablet {
    height: 79px;
  }

  @include desktop {
    height: 77px;
  }
  background-color: rgb(44, 43, 43);
  
}

.footer-paragraph__dark-theme{
  color: $light-text-color;
}