.librery_not-found-text {
    color: rgba(39, 37, 37, 0.888);
    font-size: 22px;
}

.not-found_container {
    text-align: center;
   }

.img_not-found {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.link_to-home {
    text-decoration: underline;
    color:$accent-color;
}

.films-catalog {
    display: flex;
    justify-content: center;
}