.librery_not-found-text {
    color: rgba(190, 65, 65, 0.888);
    font-size: 30px;
}

.not-found_container {
    text-align: center;
}

.img_not-found {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.link_to-home {
    text-decoration: underline;
    color:rgba(199, 34, 199, 0.888);
}

.films-catalog {
    display: flex;
    justify-content: center;
}